.SuccessfulSignUp{
    color: #333; /* Text color */
    font-family: "Arial", sans-serif;
    text-align: center;
    background-color: #a0e3f2;
    padding-bottom: 15px;
    border-bottom: 2px solid black;


}

#SuccessHeader {
    color: green;
    font-size: 75px;

  }
  
#SuccessMessage {
    color: #333;
    font-size: 20px;
}

.messageContainer {
    background-color: #a0e3f2;


}


