.SuccessfulLogin {
    color: #333; /* Text color */
    font-family: "Arial" , sans-serif;
    font-weight: bold;
    text-align: center;
}

#SuccessHeader {
    color: green;
    font-size: 75px;
  }
  
#SuccessMessage {
    color: #333;
    font-size: 25px;
}

