/* General styles for the top container */
.topcontainer {
    background-color: #ace3f0;
    
  }
  
  /* Styles for the content container */
  .content-container {
    color: #333; /* Text color */
    font-family: "Arial", sans-serif;
    font-size: 20px;
    text-align: center;
  }
  
  /* Styles for the sign-up title header */
  #SignUpTitle {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    color: #ffffff; 
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Styles for the input container */
  .input-container {
    margin-bottom: 20px;
  }

  .input-container:hover {
    background-color: #a0e3f2;
    color: blue;
  }
  
  /* Styles for the input fields */
  .input-container input[type="text"] {
    padding: 10px;
    font-size: 16px;
    width: 300px;
    border: 1px solid #ccc; /* Border color */
    border-radius: 5px;
  }

  /* Styles for the input fields */
  .input-container input[type="password"] {
    padding: 10px;
    font-size: 16px;
    width: 300px;
    border: 1px solid #ccc; /* Border color */
    border-radius: 5px;
  }
  
  /* Styles for the sign-up button */
  .Signup_Button {
    height: 50px;
    width: 224px;
    border-radius: 10px; /* Fix typo: "10x" to "10px" */
    border-style: solid;
    border-width: 1px; /* Specify border width */
    border-color: rgb(14, 168, 224);
    font-size: 25px;
    font-family: Arial;
    margin: 0;
    text-shadow: 0 0 3px #000000, 0 0 1px #000000;
    font-family: Arial;
    background-color: #2dc4e6;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
  }
  
  .Signup_Button:hover {
    background-color: #1361df; /* Darker shade on hover */
    
    
  }

  .login_button { 
    color: #1361df;
  }

  .login_button:hover { 
    color: #8478bf;
  }

  h1 {
    font-size: 75px;
  }
